.card__slider {
  color: var(--secondary);
  text-decoration: none;
    max-width: 25rem;
    overflow: hidden;
    transition: 0.5s all;
    border-bottom: 1px solid var(--border);
  }
  .slider__video {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
  }
  
  #rssBlock {
    height: 60px;
    background: transparent;
    position: relative;
    overflow: hidden;
    letter-spacing: 0.12rem;
  }
  .slider__image {
    width: 25rem;
    height: 25rem;
    object-fit: cover !important;
  }
  @media screen and (max-width: 1395px) {
    .slider__image {
        width: 20rem;
        height: 20rem;
    }
    .slider__video {
        width: 20rem;
        height: 20rem;
      }
  }
  
  .marqueeStyle {
    display: inline-block;
    animation: scrolling-left1 10s linear infinite;
  }
  
  .example-left {
    padding-top: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Libre Bodoni", serif;
    font-weight: 300;
    white-space: nowrap;
    position: absolute;
    word-spacing: 20px;
  }
  .example-right {
    padding-top: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Libre Bodoni", serif;
    font-weight: 300;
  }
  .example-left {
    -webkit-animation: mymove 8s linear infinite;
    white-space: nowrap;
    animation: mymove 8s linear infinite alternate;
  }
  
  @-webkit-keyframes mymove {
    from {
      left: 0;
    }
    to {
      left: -140px;
    }
  }
  
  @keyframes mymove {
    from {
      left: 0;
    }
    to {
      left: -140px;
    }
  }
  a.card__slider:hover {
    cursor: pointer;
    color: var(--secondary);
    box-shadow: rgb(0 0 0 / 70%) 0px 3px 8px;
  }