.product__card {
    width: 20rem;
    overflow: hidden;
    height: 30rem;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 3px 8px;
}
.info__circle {
    font-size: 4rem;
}
.product__data {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(228, 228, 228);
}
.product__data p {
    font-size: 16px;
    padding-left: 1rem;
}
.product__size h4 {
    font-size: 18px;
}
.product__size div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.product__size div p {
    font-size: 16px;
    padding-top: .4rem;
    font-weight: 500;
    width: 2.25rem;
    height: 2.25rem;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 50%;
    background-color: var(--black);
}
.product__title p {
    font-size: 28px;
    font-weight: 600;
    color: var(--white);
}
.product__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 3px solid grey;
}
.product__title span {
    color: var(--white);
}
.product__size {
    padding-top: .75rem;
    color: rgb(228, 228, 228);
}
.product__size div {
    padding-top: .75rem;
}
.product__img {
    position: relative;
    z-index: 2;
    object-fit: cover;
    transition: .3s all;
}
.full__product {
    position: relative;
    top: -55rem;
    z-index: 8;
    padding: 1rem;
    transition: .3s ease;
    width: 90%;
    right: -5%;
}
.product__card div h3, p {
    margin: 0;
}
.product__button {
    width: 100%;
    margin-bottom: 1rem;
    color: rgb(228, 228, 228);
    background-color: transparent;
    border: 2px solid rgb(228, 228, 228);
    padding: .5rem 0;
    font-size: 18px;
    font-weight: 500;
}
.product__button:hover {
    background-color: rgb(228, 228, 228);
    color: var(--black);
}