.product__card {
    width: 20rem;
    overflow: hidden;
    height: 30rem;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 3px 8px;
}
.info__circle {
    font-size: 4rem;
}
.product__data {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.product__data p {
    font-size: 16px;
    padding-left: 1rem;
}
.product__size h4 {
    font-size: 18px;
}
.product__size div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.product__size div p {
    font-size: 16px;
    padding-top: .25rem;
    font-weight: 500;
    width: 2.25rem;
    height: 2.25rem;
    border: 2px solid var(--secondary);
    border-radius: 50%;
    background-color: var(--teritary);
}
.product__card:hover {
    .product__img {
        transition: .3s all;
        transform: scale(1.05);
    }
    .h__line {
        position: relative;
        left: -.2rem;
        width: 1.75rem;
        font-size: 1.75rem;
    }
    .up {
        width: 0;
    }
    .full__product {
        top: -20.5rem;
    }
}
.product__title h3 {
    font-size: 21px;
    padding: .5rem;
}
.product__title p {
    font-size: 18px;
    font-weight: 500;
    padding: .5rem;
}
.product__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.product__title span {
    font-family: "Libre Bodoni", serif;
}
.product__img {
    position: relative;
    z-index: 2;
    object-fit: cover;
    transition: .3s all;
}
.full__product {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--secondary);
    position: relative;
    top: -5rem;
    z-index: 8;
    padding: 1rem;
    transition: .3s ease;
}
.product__card div h3, p {
    margin: 0;
}
.product__button {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--secondary);
    background-color: transparent;
    border: 1px solid var(--secondary);
    padding: .5rem 0;
    font-size: 18px;
}
.product__button:hover {
    background-color: var(--secondary);
    color: var(--black);
}