.line__brake {
    height: .15rem;
    width: 95vw;
    background-color: var(--border);
    // position: relative;
    // right: -2.5rem;
}
.header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0 4rem;
}
.header__title h1 {
    margin: 0;
    padding: 0 0 2rem 0;
    color: var(--secondary);
}