.class__day p, span, h5 {
    color: var(--secondary);
}
.class__holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    padding: .5rem .75rem;
    border: 2px solid var(--border);
    margin-bottom: .75rem;
}
.class__table {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
@media screen and (max-width: 975px) {
    .class__table {
        flex-direction: column;
    }
}
.class__day h5 {
    font-size: 21px;
    margin-bottom: 1rem;
}
.class__day p {
    font-size: 21px;
}
.class__table-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    padding-bottom: 4rem;
}
.class__table-holder h4 {
    font-size: 32px;
    color: var(--secondary);
    padding: 1rem 0;
    margin: 4rem 0 0;
    // border-top: 2px solid var(--border);
    // border-bottom: 2px solid var(--border);  
    width: 95vw;
    text-align: right;
    max-width: 50rem;
}
.headers__par {
    color: var(--white);
    padding-bottom: 4rem;
    max-width: 50rem;
    text-align: right;
}
.class__table-holder p {
    text-transform: uppercase;
}