.class__table_ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--black);
}
.class__table_two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: var(--primary);
    padding: 6rem 0 4rem;
}
@media screen and (max-width: 1490px) {
    .class__table_ {
        flex-direction: column;
    }
    .table__sec-one {
        width: 100vw !important;
        padding: 4rem 1rem;
    }
}
.table__sec-one {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 1rem 4rem;
}
.class__table-section {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.class__table-section-two {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80vw;
    align-items: flex-start;
    padding-top: 6rem;
}
.class__table-section-two ul li {
    color: var(--white);
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}
.class__table-section-two ul {
    margin: 0;
}
.class__table-section-two p {
    text-transform: uppercase;
}
.class__table-section-two h1 {
    color: var(--secondary);
}
.class__table-p {
    color: var(--white);
}
.class__table-section p {
    color: var(--secondary);
}
.class__table-section h1 {
    color: var(--secondary);
}
.class__table-bold {
    font-weight: 500;
}
.class__button-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}